<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ink.bigdata.mapper.TestMapper">
    <resultMap id="BaseResultMap" type="com.ink.bigdata.bean.Test">
        <!--@mbg.generated-->
        <!--@Table test-->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="project_id" property="projectId"/>
        <result column="node" property="node"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, project_id, node
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from test
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from test
        where id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ink.bigdata.bean.Test"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into test (`name`, project_id, node)
        values (#{name}, #{projectId}, #{node})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ink.bigdata.bean.Test"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="node != null">
                node,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="projectId != null">
                #{projectId},
            </if>
            <if test="node != null">
                #{node},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ink.bigdata.bean.Test">
        <!--@mbg.generated-->
        update test
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="node != null">
                node = #{node},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ink.bigdata.bean.Test">
        <!--@mbg.generated-->
        update test
        set `name`     = #{name},
            project_id = #{projectId},
            node       = #{node}
        where id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2022-04-24-->
    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from test
    </select>

    <update id="batchUpdateV1" parameterType="java.util.List">
        update test
        set node =
        <foreach close="end" collection="list" index="index" item="item" open="case ID" separator=" ">
            when #{item.id} then #{item.node}
        </foreach>
        where id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item.id}
        </foreach>
    </update>

    <insert id="batchUpdateV2" parameterType="java.util.List">
        insert into test(id, project_id, node)VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id}, #{item.projectId}, #{item.node})
        </foreach>
        ON DUPLICATE KEY UPDATE id = VALUES (id), project_id = VALUES(project_id) ,node = VALUES (node)
    </insert>

    <select id="selectFirstNode" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        test
        WHERE
        project_id = 1
        ORDER BY
        cast(node AS UNSIGNED) ASC LIMIT 1
    </select>

    <select id="selectLastNode" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        test
        WHERE
        project_id = 1
        ORDER BY
        cast(node AS UNSIGNED) DESC LIMIT 1
    </select>
</mapper>
